<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
        <!-- Enable Foundataions.Logger.Log : start -->
        <add key="Trace_Allowed" value="true" />
        <add key="Trace_Console_Enabled" value="true" />
        <add key="Trace_Textfile_Enalbed" value="true" />
        <!-- Enable Foundataions.Logger.Log : end -->
    </appSettings>
</configuration>